body {
	background-color: #EDEDED;
}

#canvas-container {
  width: 100%;
  text-align:center;
}

canvas {
  display: inline;
	border: 3px;
}

.score {
	display: inline;
	font-family: 'Montserrat', sans-serif;
}

.title {
	font-family: sans-serif; 
	text-align: center;
}

.prefix-score {
	display: inline; 
	font-family: 'Montserrat', sans-serif;
}